@use '../variables' as *;

.app {
  width: min(1180px, calc(100% - 32px));
  margin: 0 auto;
  padding: $space-11 0 $space-12;

  @media (max-width: $breakpoint-sm) {
    width: min(100% - 20px, 1180px);
    padding-top: $space-8;
  }
}